@font-face {
  font-family: "font-1";
  src: url(../../fonts/ChakraPetch-Light.ttf);
}

@font-face {
  font-family: "font-1-bold";
  src: url(../../fonts/ChakraPetch-Bold.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../../fonts/Righteous-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-1-bold: "font-1-bold", sans-serif;
$font-2: "font-2", sans-serif;

$black: #171717ff;
$white: #e4e4e4ff;
$color-1: #803611ff;
$color-2: #be8242ff;
$color-3: #abaab0ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

a,
a:visited {
  color: $white;
}
a:hover {
  color: $color-3;
}

body {
  color: $white;
  font-family: $font-1;
  width: 100%;
  height: 100vh;
  background: $black;
}
