.about {
  header {
    @media (max-width: 1000px) {
      position: relative;
    }
  }

  &__container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;

    @media (max-width: 1000px) {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-column: 2;
      grid-row: 1;
      margin-left: -15%;
      padding: 0 10%;

      @media (max-width: 1000px) {
        padding: 0;
        margin: auto 0;
      }
      @media (max-width: 500px) {
        font-size: 0.8rem;
      }

      i {
        color: $color-2;
      }
    }
  }
}
