.contact {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  overflow: hidden;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
  }

  @media (max-width: 400px) {
    display: block;
  }

  header {
    @media (max-width: 400px) {
      position: relative;
    }
  }

  &__infos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 800px) {
        flex-direction: row;
        justify-content: space-around;
      }

      @media (max-width: 500px) {
        font-size: 0.8rem;
      }

      @media (max-width: 400px) {
        flex-direction: column;
        margin: 50px 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    h3 {
      margin: 20px 0;
    }

    &--phone,
    &--mail {
      margin-left: 5%;
      cursor: pointer;

      @media (max-width: 800px) {
        width: 100%;
      }
      @media (max-width: 400px) {
        width: auto;
      }

      i {
        transition: 0.2s;
        animation: stiring-contact 4s infinite;

        @keyframes stiring-contact {
          43% {
            transform: rotate(0deg);
          }
          44% {
            transform: rotate(-6deg);
          }
          45% {
            transform: rotate(-12deg);
          }
          50% {
            transform: rotate(12deg);
          }
          55% {
            transform: rotate(-12deg);
          }
          56% {
            transform: rotate(-6deg);
          }
          57% {
            transform: rotate(0deg);
          }
        }
      }

      &:hover {
        color: $color-3;
      }

      &:active {
        color: $color-2;

        i {
          transform: scale(0.5);
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 370px) {
      font-size: 0.8rem;
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 15%;
      font-size: 1.5rem;

      @media (max-width: 1200px) {
        width: 20%;
      }
    }
  }
}
