header {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;

  ul {
    display: flex;
    position: relative;

    li {
      margin-left: 10px;
      font-family: $font-1-bold;
      font-size: 1.4rem;
      @media (max-width: 500px) {
        font-size: 1rem;
      }
    }
    ul {
      position: absolute;
      right: 0;

      a {
        width: 100%;
        font-size: 1rem;
        @media (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
    }
  }

  .active {
    color: $color-2;
  }
}

.logo {
  width: 35px;
  height: 38px;
}
