.toolkit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  max-height: 200vw;
  position: relative;

  .kit {
    position: relative;
    animation: stiring 4s infinite;
    cursor: pointer;

    &__img {
      background: url(../../img/toolkit.png) center/cover;
      @include imgToolkitSizePerWindowSize(691px, 526px);
    }

    h2 {
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translateX(-50%);
      font-family: $font-2;

      @media (max-width: 1100px) {
        font-size: 1.2rem;
      }

      @media (max-width: 900px) {
        font-size: 1rem;
      }
    }
  }

  .kit-fall {
    align-self: flex-end;
    animation: falling-toolkit 0.5s;
    cursor: inherit;
  }

  .tools {
    &__container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;

      p {
        opacity: 0;

        @media (max-width: 530px) {
          font-size: 0.8rem;
        }
      }
    }

    &__hammer .tools__img {
      background: url(../../img/hammer.png) center/cover;
      @include imgToolkitSizePerWindowSize(269px, 257px);
    }

    &__measuring-tape .tools__img {
      background: url(../../img/measuring-tape.png) center/cover;
      @include imgToolkitSizePerWindowSize(314px, 146px);
    }

    &__saw .tools__img {
      background: url(../../img/saw.png) center/cover;
      @include imgToolkitSizePerWindowSize(548px, 144px);
    }

    &__screwdriver .tools__img {
      background: url(../../img/screwdriver.png) center/cover;
      @include imgToolkitSizePerWindowSize(445px, 66px);
    }

    &__spanner .tools__img {
      background: url(../../img/spanner.png) center/cover;
      @include imgToolkitSizePerWindowSize(376px, 276px);
    }
  }

  .tools-fall {
    .tools__container {
      visibility: visible;

      &:hover {
        p {
          opacity: 1;
        }

        .tools__img {
          animation: stiring-continuously 2s infinite;
        }
      }
    }

    .tools__hammer {
      @include animToolkitSizePerWindowSize(
        hammer,
        30%,
        60%,
        30%,
        70%,
        20%,
        70%,
        40%,
        80%
      );
    }

    .tools__measuring-tape {
      @include animToolkitSizePerWindowSize(
        measuring-tape,
        75%,
        20%,
        65%,
        50%,
        75%,
        50%,
        40%,
        60%
      );
    }

    .tools__saw {
      @include animToolkitSizePerWindowSize(
        saw,
        20%,
        20%,
        40%,
        50%,
        25%,
        50%,
        50%,
        35%
      );
    }

    .tools__screwdriver {
      @include animToolkitSizePerWindowSize(
        screwdriver,
        50%,
        80%,
        47%,
        80%,
        47%,
        80%,
        60%,
        70%
      );
    }

    .tools__spanner {
      @include animToolkitSizePerWindowSize(
        spanner,
        70%,
        60%,
        70%,
        70%,
        80%,
        70%,
        60%,
        90%
      );
    }
  }
}
